@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMTI0OTI4NC1hbGlheGlzOnJXQ3BSSmd0YVBCV3lFUHpodm10YlJ3a2RJUXpjUEU3
always-auth=true
